{% extends "base.html" %}
{% block content %}
<main>
    <h1>Cale Smith</h1>

    <p>I'm currently looking for a job in software engineering and/or ML. I'm entry level but I consume textbooks. I care deeply about building impactful things well and I want to work with folks who feel the same. If you know of any opportunites shoot me an email: calepayson(at)mac.com</p>

    <h3>Some things I'm proud of:</h3>

    <ul>
        <li><a href="https://www.github.com/calepayson/marko_polo">Marko Polo</a>, a markov chain based quote generator written in C.</li>
        <li>This website.</li>
        <li>My home-lab.</li>
        <li>The biotracking database at <a href="https://www.innerplant.com">InnerPlant</a>.</li>
        <li>Plants that can communicate with satellites while at <a href="https://www.innerplant.com">InnerPlant</a>.</li>
        <li>I independently discovered the first major functional mutation to SARS-CoV-2, <a href"https://www.cell.com/cell/fulltext/S0092-8674(20)30820-5?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0092867420308205%3Fshowall%3Dtrue">D614G</a>.</li>
        <li>Two thirds of the <a href="http://www.king-dino.com/endurance/ocr.html">OCR</a>.</li>
        <li>An <a href="https://www.ironman.com/im703-santa-cruz">Ironman 70.3</a>.</li>
        <li><a href="https://www.marinij.com/2013/07/22/marin-county-search-team-rescues-man-on-brink-of-waterfall-in-yosemite/">My work in rescue</a>.</li>
    </ul>

    <h3>What I've done for work</h3>

    <h4>2020-2023  -  <a href="https://www.innerplant.com">InnerPlant</a></h4>
    <ul>
        <p>I joined InnerPlant as the tenth hire a little over a year after it was founded. I started as a molecular biologist but, for the simple fact there was a ton to do and not enough people, I got to touch every aspect of the bio-development pipeline and nearly every aspect of research, from ideation to testing.</p>
        <p>After a while I joined the business team. Again, I got to dive into every aspect. I helped with business development, strategy, and marketing and lead field trials and our social strategy.</p>
        <p>Through both these roles I spent a ton of time learning about and building our biotracking database (with a wonderful colleague). When I started, everything was tracked in independent spreadsheets. Over time we built a custom PostreSQL database hosted on google cloud with a frontend for usability. (There was lots of iteration along the way).
    </ul>

    <h4>2020  -  <a href="https://genome.ucsc.edu/covid19.html">Coronavirus Bioinformatics Lab</a> (student)</h4>
    <ul>
        <p>Covid hit during my Senior year of college and UCSC had to scramble to provide labs that could be done remote. One of these was a bioinformatics lab focused around Covid. It was, hands down, the coolest class I ever took. Some classes are decades behind the industry, this one was days behind.</p>
        <p>We tracked the evolution of the virus through near-realtime genotyping data, studied its structure, and built possible heritage trees to guess where it came from (spoiler: it's totally possible it came from the lab). I got so obsessed with tracking it I independently discovered the mutation that was causing Europe and the East Coast to get walloped early in the pandemic.</p>
    </ul>

    <h4>2019-2020  -  <a href="https://sanfordlab.mcdb.ucsc.edu/Sanford_Lab/Welcome.html">Toxic RNA Lab</a> (student)</h4>
    <ul>
        <p>The Toxic RNA Lab is an awesome hybrid lab/research opportunity that UCSC offers. It's run by Dr. Jeremy Sanford who researches mis-splicing events (the biological equivelent of a compiler failing to remove some fragments of certain comments). Genetic diseases caused by these events can be treated fairly cheaply so Dr. Sanford is building a library of orphan diseases (diseases considered too rare to be worth curing) in order to treat them.</p>
        <p>Basically, Dr. Sanford has a list of mutations and needs to check if each one is caused by a mis-splicing event. He started the Toxic RNA Lab to get more manpower working on his list.</p>
        <p>I worked on a few BRCA2 mutations. I loved it.</p>
    </ul>

    <h4>2016-2020  -  <a href="https://www.nps.gov/index.htm">National Park Service</a></h4>
    <ul>
        <p>I worked Ocean Resuce in the Bay Area. Mostly Stinson Beach but occasionaly Ocean Beach. Best job I ever had. If you're in your early 20's it's worth checking out.</p>
    </ul>

    <h4>2012-2016  -  <a href="https://marinsar.org/">Marin Search and Rescue</a> (volunteer)</h4>
    <ul><p>I joined SAR when I was 14 and was (briefly) the youngest full member of a SAR team in the US. It was an incredible opportunity to do meaningful things in beautiful places throughout California. I'd recommend it to anyone with (lots of) free time.</p></ul>
</main>
{% endblock %}
